/* global */
.alignitemscenter {
    align-items: center;
}

.dFlex {
    display: flex;
}

.width {
    width: 30px;
}

.dgrid {
    display: grid;
}

.gridtemplatecolumnsauto1frauto {
    grid-template-columns: auto 1fr auto;
}

.gap2 {
    gap: 1rem;
}

.margin10pxy0z {
    margin: 10px 0px;
}

.bgred {
    background-color: red;
}

.bggrey {
    background-color: rgb(228, 228, 228);
}

.bgwhite {
    background-color: white;
}

/* finish */

* {
    padding: 0;
    margin: 0;
}

body {
    grid-template-columns: auto 1fr;
    height: 100vh;
}

/* aside */
aside {
    height: 100vh;
    color: white;
    padding: 20px;
    background: url(./assets/images/sidebar-1.jpg);
    background-color: rgba(0, 0, 0, 0.877);
    background-blend-mode: color;
}

.card:hover {
    background-color: rgb(119, 119, 119);
}

img {
    width: 50px;
    border-radius: 50%;
    height: 50px;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(228, 228, 228);
}

.notifications {
    position: relative;
}

.info {
    border-radius: 50%;
    width: 15px;
    height: 15px;
    padding: 5px;
    position: absolute;
    text-align: center;
    top: -5px;
    right: -5px;
    background-color: rgb(255, 0, 0);
    color: white;
}

.hidden {
    position: absolute;
    right: 75px;
    top: 20px;
    width: 200px;
    background-color: white;
    visibility: hidden;
}

.notifications:hover .hidden {
    visibility: visible;
}

.hidden p {
    padding: 10px;
}

.hidden p:hover {
    background-color: red;
    color: white;

}

.Dashboard {
    background-color: white;
    padding: 10px;
    margin: 3px 10px;
}

.circle {
    border-radius: 50%;
    padding: 9px;
    margin: 5px 10px;
}

input {
    background-color: transparent;
    height: 7vh;
    margin: 10px;
    border: none;
    outline: none;
    border-bottom: 2px solid red;
}

input:focus {
    border-bottom: 2px solid green;
}

/* main */
main {
    background-color: rgb(228, 228, 228);
    text-align: center;
    justify-content: center;
    padding: 10px;
    margin: 50px;
}

.maincard {
    background-color: green;
    width: 50px;
    margin-top: -20px;
    padding: 4px;
    top: 200px;
}

footer {
    background-color: rgb(228, 228, 228);
}